{% extends 'layout.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}
<div class="col-md-9">
    <div class="col-md-12 page-body">
        <div class="row">

            <div class="sub-title">
                <h2>Minhas inspirações</h2>
             </div>

            <div class="col-md-12 content-page">

                <!-- Blog Post Start -->

                <div class="col-md-12 blog-post">
<!--                    <div class="post-title">-->
<!--                      <h1>Melissa Alves</h1>-->
<!--                    </div>-->
                    <p>Ao escrever meus textos sempre busco inspirações em citações dos meus autores favoritos, livros, e até em coisas simples, mas,  incansáveis, como o céu, as pessoas...
Escrevo para tentar organizar esse caos, essa bagunça que está aqui dentro de mim, uma forma ótima de se expressar e se libertar. Transformo meus pensamentos em palavras, que por sua vez, me confortam. Então, espero que goste do que lê!</p>
                    <div class="post-info">
                        <span></span>
                    </div>
                </div>
                <!-- Blog Post End -->

                </div>

             </div>
         </div>
       </div>
{% endblock %}